
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(background.jpg) no-repeat;
	background-size: cover;
}


.Submit-box{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white; 

}

.Submit-box h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid #4caf50;
	margin-bottom: 50px; 
	padding: 13px 0;
} 

.textbox,.textbox1,.textbox2,.textbox3,.textbox4,.textbox5,.textbox6{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #4caf50;
}

.textbox i,.textbox1 i,.textbox2 i,.textbox3 i,.textbox4 i,.textbox5 i,.textbox6 i{
	width: 26px;
	float: left;
	text-align: center;

}


.textbox input,.textbox1 input,.textbox2 input,.textbox3 input,.textbox4 input,.textbox5 input,.textbox6 input{
	border: none;
	outline: none;
	background: none;
	color: #ffff;
	font-size: 18px;
	width: 80%;
	float: left;
	margin: 0 10px;
}

.btn{
	width: 100%;
	background: none;
	border: 2px solid #4caf50;
	color: white;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 10px;
}



